@model MagicVilla_Web.Models.Dto.VillaNumberUpdateDto

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Update villa number</h1>
        </div>
    </div>

    <form asp-action="UpdateVillaNumber">
        <dvi class="row">
            <div class="col-2">
                <label asp-for="VillaNo" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="VillaNo" class="form-control" />
                <span asp-validation-for="VillaNo" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="SpecialDetails" class="form-control" />
                <span asp-validation-for="SpecialDetails" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="VillaID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select class="form-control border" asp-for="VillaID" asp-items="@Model.VillaList">
                    <option>--Select Villa--</option>
                </select>
                <span asp-validation-for="VillaID" class="text-danger"></span>
            </div>


            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </dvi>




    </form>
</div>


@*to enble client-side validation*@
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}